@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     font-family: "Shadows Into Light",sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display:flex;
    background-color: rgb(231, 225, 225);
    font-weight: 900;
    font-size: large;
   
}
.container{
  text-align: center;
    height: 300px;
    width:400px;
    padding: 1.2rem;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3) ;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
   
}
button{
    border-radius: 5%;
    box-shadow:0px 4px 8px rgba(0,0,0,0.3) ;
   padding:15px;

}
h1{
    color:black;
    margin-bottom: 15px;
    font-size: 3rem;
}
#time{
    color:black;
    margin-bottom: 20px;
    font-size: 2rem; 
}
#start,#pause,#reset{
      padding: 10px 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(78, 198, 216);
    box-shadow:0px 4px 8px rgba(0,0,0,0.3) ;
    padding:15px;
   margin-left: 20px;
}

#start:hover,#pause:hover,#reset:hover{
     background-color: rgb(176, 209, 223);
    transition: transform 0.2s ,box-shadow 0.2s;
}